.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
}
.header__navbar-item {
  margin: 8px 8px 0 8px;
  position: relative;
  min-height: var(--header-navber-height);
}
.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white-color);
  /* text-decoration: bo dau gach chan */
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item-bold {
  font-weight: 500;
}
.header__navbar-item-gach::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 1px;
  /* top: 1px; */
  right: -10px;
  transform: translateY(1%);
  border-radius: 1px;
  background-color: var(--white-color);
}
.header__navbar-icon-link {
  text-decoration: none;
}
.header__navbar-icon-link:hover {
  opacity: 0.7;
}
.header__navbar-icon {
  color: var(--white-color);
  font-size: 1.8rem;
  margin: 0 5px;
}
.header__navbar-title-nopointer:hover {
  cursor: default;
  color: var(--white-color);
}

/* ---------------- qr code --------------------- */
.header__qr {
  background-color: var(--white-color);
  width: 185px;
  position: absolute;
  left: 0;
  top: 120%;
  border-radius: 2px;
  padding: 8px;
  /* display: none; */
  display: none;
  border: 1px solid black;
  /* animation: hahaha 1s linear; */
  /* transition: display 1s; */
}
.header__qr-img {
  width: 100%;
  margin-bottom: 10px;
}
.header__qr-apps {
  display: flex;
  /* gap: 5px; */
  justify-content: space-between;
}
.header__qr::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 15px;
  left: 0;
  top: -5px;
}
.header__qr-link:nth-child(1) {
  margin-left: 11px;
}
.header__qr-link:nth-child(2) {
  margin-right: 11px;
}
.header__qr-dowload-img {
  height: 16px;
}
.header__navbar-item-gach:hover .header__qr {
  /* display: block; */
  display: block;
  animation: hihihi 0.5s;
}
/* ----------------------------------------- thong bao ----------------------------------- */
.header__thongbao {
  position: absolute;
  top: 110%;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px #d3d3d3 solid;
  display: none;
  cursor: default;
  transform-origin: right top; /* xac dinh tam cua tranform la o dau*/
  z-index: 1;
}
.header__thongbao::after {
  content: "";
  border: 20px solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -30px;
  right: 15px;
}
.header__thongbao::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -15px;
  width: 90px;
  height: 15px;
}
.header__thongbao-header {
  height: 40px;
  background-color: var(--white-color);
  color: #f53e2d;
  line-height: 40px;
  margin-left: 12px;
}
.header__thongbao-list {
  padding-left: 0;
}
.header__thongbao-img {
  width: 48px;
  object-fit: contain;
}
.header__thongbao-link {
  display: flex;
  padding: 12px;
}
.header__thongbao-info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.header__thongbao-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black-color);
}
.header__thongbao-des {
  font-size: 1.2rem;
}
/*  */
.header__thongbao-item--viewed {
  background-color: rgba(238, 75, 43, 0.1);
}
.header__thongbao-item:hover {
  background-color: #f7f7f7;
}
.header__thongbao-footer {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.header__thongbao-footer--btn {
  padding: 0 20px;
}
.header__navbar-item:hover .header__thongbao {
  animation: hihihi 0.5s;
  display: inline;
}
/* ------------------------------------------------- dang ki ------------------------------------------------------------------ */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 15px;
}
.auth-form__heading {
  /* margin-top: 15px;   */
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  height: 40px;
  width: 100%;
  margin-top: 16px;
  padding: 0 15px;
  font-size: 1.4rem;
  border: 1px solid var(--boder-color);
  border-radius: 5px;
}
.auth-form__aside {
  margin-top: 20px;
}

.auth-form__policy-text,
.auth-form__policy-link {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: center;
}
.auth-form__policy-link {
  color: var(--primary-color);
}
.auth-form__control {
  margin-top: 80px;
  text-align: end;
}
.auth-form__control-back {
  margin-right: 8px;
}
.auth-form__social {
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
}
.btn.btn--size-s {
  height: 30px;
  font-size: 1.2rem;
  line-height: 30px;
}
.auth-form__social-icon {
  font-size: 1.8rem;
}
.auth-form__social--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
  text-align: center;
}
.auth-form__social--facebook .auth-form__social-icon {
  color: var(--white-color);
}
.auth-form__social--title {
  margin-left: 10px;
}
.auth-form__social--google {
  background-color: var(--white-color);
  color: black;
  text-align: center;
}
/* ---------------------------------------- dang nhap ------------------------------------------ */
.auth-form__help {
  display: flex;
  justify-content: end;
}
.auth-form__help-link {
  font-size: 1.5rem;
  color: #939393;
}
.auth-form__help-gach {
  display: block;
  border-left: 1px solid var(--boder-color);
  height: 22px;
  margin: 0 16px;
}
.auth-form__help-forgot {
  color: var(--primary-color);
}
/* --------------------------------------- search --------------------------------------------- */
.header-with-search {
  /* height: var(--header-search-height); */
  height: 85px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.header__logo {
  width: 200px;
  color: var(--white-color);
}
.header__logo-img {
  width: 150px;
  padding-left: 8px;
}
.header__search {
  height: 40px;
  flex: 1;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}
.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  width: 140px;
  height: 60px;
  font-size: 20px;
}
.header__search-input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  padding: 0 10px;
  border-radius: 2px;
}

.header__search-selection {
  border-left: 1px var(--text-color) solid;
  padding-left: 16px;
  height: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__search-selection:hover .header__search-option {
  display: inline;
}
.header__search-selection-label,
.header__search-selection-icon {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-selection-label {
  margin: 0 16px;
}
.header__search-selection-icon {
  margin-right: 10px;
}
.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  height: 25px;
  margin-right: 10px;
  width: 50px;
  border-radius: 2px;
  border: 3px;
}
.header__search-btn-icon {
  padding: 5px 0px;
  width: 15px;
}
.header__search-btn:hover {
  background-color: #e65c40;
  cursor: pointer;
}
.header__search-option {
  position: absolute;
  right: 0;
  left: 0;
  top: 140%;
  background-color: var(--white-color);
  /* border: 1px solid black; */
  border-radius: 3px;
  box-shadow: 0 1px 3px var(--boder-color);
  display: none;
}
.header__search-option::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -10px;
  cursor: pointer;
}
.header__search-option-item {
  padding: 8px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
}
.header__search-option-item i {
  font-size: 1.4rem;
  color: var(--primary-color);
  visibility: hidden;
}
.header__search-option-item--active i {
  visibility: visible;
}
.header__search-selection-label,
.header__search-selection-icon {
  cursor: pointer;
}
/* ---------------------------- search history --------------------------- */
.header__search-input-warp {
  flex: 1;
  position: relative;
}
.header__search-history {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  background-color: var(--white-color);
}
